@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    color: white;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    width: 100vw;
}
.header{
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 8px 20px;
    margin: 0 20px;
}
.Hyperlink{
    text-decoration: none;
    color:white
}
.Banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0A83E;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    width: 100vw;
}
.Logo{
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 20px;
    font-size: 40px;
    gap: 8px;
}
.Icon{
    height: 40px;
}
.White{
    color: white;
}
.Purple{
    color: purple;
}
.Aside{
    display: flex;
    list-style: none;
    gap:8px;
    padding: 10px 20px;
}
.List{
    color: white;
    text-decoration: none;
}
.Display{
    display: block;
    font-family: 'Roboto', sans-serif;
}
.Imagem{
    display: flex;
    width: 100vw;
    height: 400px;
    object-fit: cover;
}
.Image-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -300px;
    margin-bottom: 80px;
    margin-left: 60%;
}
.Upper-text{
    font-size:xx-large;
    padding:15px;
}
.Lower-text{
 font-size: large;
 padding:10px
}
.Button-Image{
    max-width: 100px;
 padding: 20px;
 color: #FFFFFF;
 background-color: #F0A83E;
 border: #F0A83E;
 margin:30px
}
.Under-Image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Cat-paw{
    height: 150px;
}
.Paw-text{
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    margin: 10px;
}
.Paw-list{
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}
.Paw-item{
    font-size: 20px;
color: black;
text-decoration: none;
}
.Item-display{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}
.Card{
display: flex;
width: 300px;
align-items: center;
flex-direction: column;
font-family: 'Roboto', sans-serif;
}
.Item-image{
width: 100%;
height: 250px;
object-fit: cover;
}
.Name{
    margin-top: 10px;
font-size: 20px;
margin-bottom: 8px;
}
.Price{
    font-size: 18px;
color: #F0A83E;
}
body {
 background-color: #E5E5E5;
}
.Flex-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.Contato{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: 30px;
}
.Input-style{
    padding: 20px;
    width: 400px;
    border-radius: 40px;
    background-color: #381805;
    color: #FFFFFF;
}
.Button-wrap{
    flex-direction: row;
}
.Button-brown{
    width: 100px;
    padding: 20px;
    color: #FFFFFF;
    background-color: #8A8787;
    border: #8A8787;
    margin:30px;
    border-radius: 30px;
}
.Button-purple{
 width: 100px;
 padding: 20px;
 color: #FFFFFF;
 background-color: #F0A83E;
 border: #F0A83E;
 margin:30px;
 border-radius: 30px;
}
.foot{
    display: flex;
    justify-content: space-between;
    background-color: #F0A83E;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    width: 100vw;
}
.fooot{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    align-items: center;
}
.Letter-icon{
    height: 30px;
}
.Foot-text{
    font-size: 16px;
}
.Input-foot{
    padding: 20px;
    width: 400px;
    border-radius: 40px;
    color: #A0A0A0;
}
.Button-foot{
    padding: 20px;
    color: #FFFFFF;
    background-color: #3C2313;
    border: #3C2313;
    border-radius: 30px;
}
.Footer-flex{
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}
.footer-wrap{
    background-color: #3C2313;
    display: flex;
    justify-content: space-between;
}
.pack-wrap{
    display:flex;
flex-direction: row;
gap:10px;
margin-left: 30px;
padding: 20px 0px
}
.Text-wrap{
flex-direction: column;
list-style: none;
color: #FFFFFF;
}
.footer-icon{
height: 100px;
width: 100px;
object-fit: cover;
border-radius: 50%;
background-color: #8A8787;
}
.footer-text{
font-weight: bolder;
font-size: 20px;
}
.Sub{
font-weight: lighter;
font-size: 10px;
}
.footer-logo{
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 40px;
    align-content: center;
    margin-top: -115px;
    padding: 30px;
}
.lowest-bar{
    background-color: #222222;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 5px;
}