@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     
}

body{
    font-family: 'Roboto', sans-serif;

}

.cabecalho{
    background-color: rgb(7, 199, 183);
    font-size: 17px;
    font-weight: normal;
    height: 60px;
    padding: 20px 30px;
    position: sticky;
    top: 0;
    width: 100%;
    color: rgb(15, 14, 14);
    

}

.menu{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    background-color: rgb(112, 161, 241);
    font-weight: normal;
    color: white;
    height: 90px;
    padding: 20px 20px;
   
    
}

.logo{
    width: 100px;
    border-radius: 100px;
}

.Cadastro-form{
    background-color: rgb(255, 255, 255);
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border-radius: 12px;
    margin: 0 auto;
    transition: .5s;
}



.controlador input{
    width: 100%;
    padding: 12px;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 12px;
    font-size: medium;


}

input:hover{
    
    scale: 1.1;
}


.logar{
   padding: 10px 10px;
   font-size: 18px;
   border: none;
   border-radius: 12px;
   background-color: rgb(174, 174, 224);
   cursor: pointer;
   
    
}



.mensagem{
    text-align: center;
   
   

}

.rodape{
    background-color:rgb(112, 161, 241);
    text-align: center;
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: lighter;

}   


@media(max-width: 400px) {
    .cabecalho{
        font-size: 14px;
        font-weight: normal;
    }

    .Cadastro-form{
        width: 300px;
    }

}