body {
    background-color:bisque;
    font-family: arial;
}
h1{
    text-align: center;
    color:darkcyan;
    text-transform: uppercase ;
    font-size: 36px;
}
.job-title{
    
    font-size: 24px;
    font-weight: bolder;
    background-color:cadetblue;
    color: azure;
}

main{ 
    text-align: justify;

}

h2 {
    color: azure;
    background-color: cadetblue;
    text-align: justify;
    font-size: 24px;
}